<div class="container d-flex bg-light my-5 p-5 justify-content-center">

  <form (ngSubmit)="submit()" [formGroup]="form" class="bg-secondary p-5 w-50">

    <div class="form-group px-5 p-3">
      <label for="name">Name</label>
      <input type="text" formControlName="name" name="name" class="form-control" placeholder="Enter name">
    </div>

    <div class="form-group px-5 p-3">
      <label for="username">Username</label>
      <input type="text" formControlName="username" name="username" class="form-control" placeholder="Enter email" >
    </div>

    <div class="form-group px-5 p-3">
      <label for="password">Password</label>
      <input type="password" formControlName="password" name="password" class="form-control" placeholder="Enter password">
    </div>

    <div class="container d-flex justify-content-center my-4">
      <button type="submit" class="btn btn-light">Register</button>
    </div>

    <div class="container d-flex justify-content-center my-4">
      <button type="submit" class="btn btn-light" routerLink="">Back</button>
    </div>

  </form>

</div>
