<app-navbar></app-navbar>

<div class="container my-5 w-100">
  <table class="table table-responsive table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Departure</th>
        <th scope="col">Arrival</th>
        <th scope="col">Available Seats</th>
        <th scope="col">Add</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </thead>
    <tbody>
      <tr *ngFor="let flight of flights">
        <th scope="row">{{flight.id}}</th>
        <td>{{flight.departure}}</td>
        <td>{{flight.arrival}}</td>
        <td>{{flight.availableSeats}}</td>
        <td style="text-align: right;" class="d-flex button_div">
          <button type="button" class="btn btn-outline-success" routerLink="/modifyFlights"><i class="fa-solid fa-plus"></i></button>
        </td>
        <td>
          <button type="button" class="btn btn-outline-warning" routerLink="/modifyFlights"><i class="fa-solid fa-pen-to-square"></i></button>
        </td>
        <td>
          <button type="button" class="btn btn-outline-danger" routerLink="/modifyFlights"><i class="fa-solid fa-xmark"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
